.row{
    display: flex;
    // gap: 10px;
}
.content{
    padding-top: 5%;
    mat-form-field{
        width: 100%;
    }
}

.action-btn{
    padding: 0px 25px 20px;
    button{
        flex: 1;
    }
}
.alert{
    margin-top: -13px;
    color: red;
    padding-left: 14px;
}
